* {
    font-family: 'roboto', poppins;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: rgba(140, 82, 254);
}

main {
    background-color: rgba(244, 244, 244);
    border-radius: 20px;
    width: 375px;
    margin: 0px auto;
    padding: 44px 24px 23px;
}

#gif {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

select {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
}

input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
}

section {
    border-radius: 5px;
    border-color: blueviolet;
    padding: auto;
    margin: auto;
}